* {
    margin: 0px;
    padding: 0px;
}
.img {
    margin: 20px;
    size: 15px;
}
html {
scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
}
header nav ul{
list-style: none;
display: flex;
justify-content: end;
}
header nav ul a {
    color: black;
    text-decoration: none;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all .5s;
    border: 2px solid #005eff;
    padding: 5px 10px;
    border-radius: 50px;
    display: block;
}
header nav ul li a:hover{
    background: #005eff;
    color:rgb(181, 181, 253)
}
header nav ul li{
    margin-right: 15px;
}
.li {
    margin: 10px;
}
header {
    margin-bottom:50px;
}
.onas {
    font-size: 20px;
    color:black;
}
.product-card1 {
    display: flex;
    /* width: 1000px; */
    margin-block-end: 10px;
    border: 2px solid #005eff;
}
.product-card_tittle1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.product-card_info1 {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.har1 {
    font-size: 12px;
    color: gray;
    font-style: oblique;
    text-align: left;
}
.btn1 {
    margin-top: auto;
    display: flex;
    justify-content: end;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 2.5s;
}
.btn1 a {
    display: block;
    border: 2px solid #005eff;
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    margin: 10px 10px;
}
.btn1 :hover{
    background: #005eff;
    color:rgb(181, 181, 253)

}
.product-card_image1 {
    width: 200px;
    height: 200px;
    min-width: 200px;
box-sizing: border-box;
padding: 10px;
display: flex;
align-items: center;
}
.product-card_image1 img {
    max-width: 100%;
    max-height: 100%;
}
.product-card2 {
    display: flex;
    border: 2px solid #005eff;
    margin-block-end: 10px;
}
.product-card_tittle2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.product-card_info2 {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.product-card_image2 {
    width: 200px;
    height: 200px;
    min-width: 200px;
box-sizing: border-box;
padding: 10px;
display: flex;
align-items: center;
}
.product-card_image2 img {
    max-width: 100%;
    max-height: 100%;
}
.har2 {
    font-size: 12px;
    color: gray;
    font-style: oblique;
    text-align: left;
}
.btn2 {
    margin-top: auto;
    display: flex;
    justify-content: end;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 2.5s;
}
.btn2 a {
    display: block;
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    margin: 10px 10px;
    border: 2px solid #005eff;
}
.btn2 :hover{
    background: #005eff;
    color:rgb(181, 181, 253)
}
.product-card3 {
    display: flex;
    border: 2px solid #005eff;
    margin-block-end: 10px;
}
.product-card_tittle3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.product-card_info3 {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.product-card_image3 {
    width: 200px;
    height: 200px;
    min-width: 200px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
}
.product-card_image3 img {
    max-width: 100%;
    max-height: 100%;
}
.har3 {
    font-size: 12px;
    color: gray;
    font-style: oblique;
    text-align: left;
}
.btn3 {
    margin-top: auto;
    display: flex;
    justify-content: end;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 2.5s;
}
.btn3 a {
    display: block;
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    margin: 10px 10px;
    border: 2px solid #005eff;
}
.btn3 :hover{
    background: #005eff;
    color:rgb(181, 181, 253)
}
.product-card4 {
    display: flex;
    margin-block-end: 10px;
    border: 2px solid #005eff;
}
.product-card_tittle4 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.product-card_info4 {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.product-card_image4 {
    width: 200px;
    height: 200px;
    min-width: 200px;
box-sizing: border-box;
padding: 10px;
display: flex;
align-items: center;
}
.product-card_image4 img {
    max-width: 100%;
    max-height: 100%;
}
.har4 {
    font-size: 12px;
    color: gray;
    font-style: oblique;
    text-align: left;
}
.btn4 {
    margin-top: auto;
    display: flex;
    justify-content: end;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 2.5s;
}
.btn4 a {
    display: block;
    border: 2px solid #005eff;
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    margin: 10px 10px;
}
.btn4 :hover{
    background: #005eff;
    color:rgb(181, 181, 253)
}
.contacts {
    padding-top: 200px;
}
.container {
width: 1000px;
margin: 0px auto;
}
.catalog {
    background: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 25px #005eff;
}
.catalog:hover {
    transition: all .3;
}
