* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lora', serif;
    
}
body {
    width: 100%;
    margin: 0 auto;
    background-color: #363636;
}
.header {
    display: flex;
    justify-content: center;
    color: #EFE7E2;
    margin: 40px 0 40px 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-logo {
    width: 42px;
    height: 42px;
}
.logo-name {
    font-size: 16px;
    line-height: 24px;
    margin: 0 90px 0 20px;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
    justify-content: center;
}
.list-item {
    list-style-type: none;
    margin-right: 60px;
    padding-bottom: 1px;
}
.list-item:hover {
    color:#ff6e40;
    cursor: pointer;
    border-bottom: .1px solid #FF6E40;
    background-position: 100% 0;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    
}
.contacts-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts {
    margin: 0 15px 0 40px;
}
.address {
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 98px;
    height: 961px;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(33, 24, 20, 0.57) 0%, rgba(38, 28, 24, 0.42) 100%), url('./images/bg.png');
    background-size: cover;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.tittle-text{
    font-size: 85px;
    line-height: 80px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.description {
    color: #fff;
    margin-left: 60px;

}
.border-text {
    border: 1px solid #fff;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 700;
    margin:100px 0 0 130px;
}
.under-border {
    width: 700px;
    font-size: 40px;
    margin-top: 28px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    height: 70px;
    width: 190px;
    margin: 200px 0 0 -1125px;
    font-size: 20px;
    font-weight: 700;
    color: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #FF6E40 linear-gradient(#ff5b27, #FF6E40);
    box-shadow: inset #ff470d 0 -1px 1px, inset 0 1px 1px #ff815a, #f33a00 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.button:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.button:active {
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.services {
    display: flex;
    justify-content: center;
    height: 550px;
    background-color: #251D1A;
    width: 100%;
    align-items: flex-end;
    margin-top: -250px;
    padding-bottom: 120px;
}
.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit-tittle {
    font-size: 24px;
    color: #EFE7E2;
    text-align: center;
    margin-top: 25px;
}
.benefit-text {
    font-size: 15px;
    color: #B7AAA2;
    text-align: center;
    margin-top: 10px;
    width: 245px;
}
.benefit-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1255px;
}
.benefit-image {
    width: 78px;
    height: 78px;
}
.about-us {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 70px;
}
.about-tittle {
    font-size: 48px;
    color: #fff;
}
.about-text {
    font-size: 15px;
    width: 580px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    line-height: 24px;
}
.about {
    padding-top: 120px;
}
.portfolio {
    display: flex;
    justify-content: center;

}
.image-left {
    margin-right: 15px;
}
.image-left-bottom {
    margin-top: 15px;
    transition:  .3s;
}
.photo-hover:hover {
    transform: scale(1.01);
    transition:  .3s;
    cursor: pointer;
}
.photo {
    margin-right: 15px;
}
.image-right-top {
    margin-bottom: 15px;
}
.about-buton {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 120px;
}
.portfolio-button {
    margin-right: 25px;
    font-size: 20px;
    color: #fff;
    padding: 18px 50px;
    background-color: #FF6E40;
    color: #f5f5f5;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: #FF6E40 linear-gradient(#ff5b27, #FF6E40);
    box-shadow: inset #ff470d 0 -1px 1px, inset 0 1px 1px #ff815a, #f33a00 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.instagram-button {
    font-size: 14px;
    cursor: pointer;
    background-color: #FF6E40;
    font-weight: 700;
    color: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #FF6E40 linear-gradient(#ff5b27, #FF6E40);
    box-shadow: inset #ff470d 0 -1px 1px, inset 0 1px 1px #ff815a, #f33a00 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.portfolio-button:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.portfolio-button:active {
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

.circle {
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #ff6e40;
    border: #ff6e40;
    cursor: pointer;
    color: #fff;
}
.circle-left {
    margin-right: 20px;
    margin-top: 120px;
}
.circle-right {
    margin-top: 120px;
}

.testimonials-tittle {
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #fff;
    margin-bottom: 25px;
}
.masters {
    display: flex;
    justify-content: center;
}
.master {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-right: 20px;
}
.master-name {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #fff;
}
.master-image {
    border-radius: 3%;
}
.master-info {
    font-size: 14px;
    color: #fff;
    margin-bottom: 25px;
    line-height: 24px;
    overflow: hidden;
    height: 70px;
}
.master-info-full {
    height: 100%;
}
.read-all {
    font-size: 14px;
    color: #fff;
    margin-bottom: 150px;
}
.read-all:hover {
    cursor: pointer;
    color: #ff6e40;
}

.our-prices-tittle {
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin-bottom: 25px;
}
.our-prices-info {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 65px;
}
.pricing {
    background-color: #251D1A;
    width: 100%;
    height: 950px;
}
.barber-services {
    margin-top: 20px;
    color: #EFE7E2;
    font-size: 30px;
    margin-bottom: 20px;
}
.type-price-time{
    display: flex;
    justify-content: space-between;
    width: 280px;
}
.type-hair {
    font-size: 16px;
    color: #EFE7E2;
    line-height: 27px;
}
.time-price {
    display: flex;
    justify-content: center;
    text-align: center;
}
.time {
    font-size: 14px;
    color: #B7AAA2;
    margin-right: 10px;
    text-align: center;
    line-height: 27px;
}
.price {
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
    border-right: 1px groove #B7AAA2;
    line-height: 27px;
    padding-right: 10px;
}
.wrapper-prices {
    display: flex;
    justify-content: center;
}
.haircuts {
    margin-right: 20px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.feedback-tittle {
    color: #000;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.form-container {
    width: 1180px;
    padding: 60px 0;
    box-shadow: 0px 0px 25px rgba(0,0,0,.3);
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #FF6E40;
    margin-top: -150px;
    margin-bottom: 120px;
}
.input-text::placeholder{
    color:#FFF;
}
.form {
    display: flex;
    justify-content: center;
}
.input-text {
    width: 300px;
    height: 50px;
    padding: 8px 7px 5px;
    box-sizing: border-box;
    border: #000 solid 1px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    background-color: #FF6E40;
    margin-right: 20px;
}
.request {
    font-size: 16px;
    cursor: pointer;
    background-color: #212121;
    font-weight: 700;
    color: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #000 linear-gradient(#000, #212121);
    box-shadow: inset #212121 0 -1px 1px, inset 0 1px 1px #212121, #000 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    margin-right: 20px;
    padding: 0 10px;
}
.request:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.request:active {
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

.checkbox-first {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.checkbox-text {
    font-size: 14px;
}
.checkbox-first__label{
    cursor: pointer;
    user-select: none;
}
.checkbox-first__label input:checked + .checkbox {
    border-color: #00ff00;
}
.checkbox-first__label .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
}
.checkbox-first__label input:checked + .checkbox svg path {
    fill: #00ff00;
}
.checkbox-first__label input:checked + .checkbox svg polyline {
    stroke-dashoffset: 0;
}
.checkbox-first__label:hover .checkbox svg path {
    stroke-dashoffset: 0;
}
.checkbox-first__label .checkbox {
    position: relative;
    top: 2px;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px solid #000;
}
.checkbox-first__label .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 25px;
    height: 25px;
}
.checkbox-first__label .checkbox svg path {
    fill: none;
    stroke: #00ff00;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}
.checkbox-first__label .checkbox svg polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}
.checkbox-first__label > span {
    pointer-events: none;
    vertical-align: middle;
}
.checkbox {
    position: relative;
    top: 2px;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px solid #c8ccd4;
}
.checkbox-first__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}
.wrapper-icons {
    display: inline-flex;
}

.wrapper-icons .icon {
    position: relative;
    background-color: #FF6E40;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 6px;
    height: 6px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-icons .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-icons .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-icons .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper-icons .icon:hover span,
.wrapper-icons .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper-icons .facebook:hover,
.wrapper-icons .facebook:hover .tooltip,
.wrapper-icons .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper-icons .twitter:hover,
.wrapper-icons .twitter:hover .tooltip,
.wrapper-icons .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper-icons .instagram:hover,
.wrapper-icons .instagram:hover .tooltip,
.wrapper-icons .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper-icons .vk:hover,
.wrapper-icons .vk:hover .tooltip,
.wrapper-icons .vk:hover .tooltip::before {
    background-color: #0077FF;
    color: #ffffff;
}

.wrapper-icons .youtube:hover,
.wrapper-icons .youtube:hover .tooltip,
.wrapper-icons .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}
.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.tel-icon {
    margin-right: 15px;
    cursor: pointer;
}
.map-image {
    margin-right: 75px; 
}
.map-icon {
    margin-right: 15px;
}
.footer-contacts {
    margin-right: 75px;
}
.footer-telephone {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
    width: 200px;
}
.footer-address {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color:#fff;
}
.reserved {
    padding: 20px 0;
    background-color: #FF6E40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserved-text {
    color: #fff;
    font-size: 12px;
}
.work-time-text {
    font-size: 10px;
    color: #fff;
}
.work-time {
    display: block;
    justify-content: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; 
    min-height:100px;
    max-height:150px;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
    transform: translate3d(85px,0,0);
    }
}