@media (max-width: 1440px) {
    .logo-name {
        margin-right: 50px;
        font-size: 13px;
    }
    .list-item {
        margin-right: 30px;
        font-size: 10px;
    }
    .contacts-icon {
        width: 25px;
    }
    .image-logo {
        width: 30px;
        height: 30px;
    }
    .container {
        height: 800px;
        padding-top: 0px;
    }
    .button {
        margin: 120px 0 0 -715px;
    }
    .about {
        padding-top: 100px;
    }
    .contacts {
        font-size: 10px;
    }
    .tittle-text {
        font-size: 65px;
    }
    .under-border {
        font-size: 30px;
        margin-right: 60px;
    }
    .border-text {
        font-size: 15px;
        margin: 50px 0 0 160px;
    }
    .benefit-image {
        width: 65px;
        height: 65px;
    }
    .benefit-tittle {
        font-size: 20px;
    }
    .benefit-text {
        font-size: 12px;
    }
    .benefit-wrapper {
        width: 950px;
    }
    .big-photo {
        width: 320px;
    }
    .little-photo {
        width: 150px;
    }
    .portfolio-button {
        padding: 10px 30px;
        font-size: 18px;
    }
    .about-buton {
        margin-bottom: 100px;
    }
    .master {
        width: 195px;
    }
    .master-image {
        width: 200px;
    }
    .circle {
        margin-top: 80px;
        width: 30px;
        height: 30px;
    }
    .read-all {
        margin-bottom: 100px;
    }
    .pricing {
        padding-top: 100px;
    }
    .models {
        width: 200px;
        height: 200px;
    }
    .type-price-time {
        width: 195px;
    }
    .barber-services {
        font-size: 19px;
    }
    .name-hair {
        font-size: 11px;
    }
    .time-min {
        font-size: 8px;
    }
    .money-price {
        font-size: 11px;
    }
    .form-container {
        width: 760px;
        padding: 30px 0;
    }
    .feedback-tittle {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .input-text {
        width: 200px;
    }
    .map-image {
        width: 300px;
        height: 200px;
    }
    .icon {
        width: 25px;
    }
    .wrapper-icons .icon {
        padding: 11px;
    }
    .footer-icons {
        width: 28px;
    }
    .footer-text {
        font-size: 13px;
    }
    .footer-telephone {
        width: 165px;
    }
}

@media (max-width: 1024px) {
    .logo-name {
        margin-right: 30px;
        font-size: 11px;
        line-height: 15px;
    }
    .contacts {
        margin-left: 10px;
    }
    .list-item {
        margin-right: 20px;
        font-size: 8px;
    }
    .container {
        height: 600px;
    }
    .container-wrapper {
        margin-top: 50px;
    }
    .tittle-text {
        font-size: 40px;
    }
    .border-text {
        font-size: 11px;
        margin: 20px 0 0 120px;
        padding: 10px 20px;
    }
    .under-border {
        font-size: 20px;
        width: 550px;
    }
    .button {
        margin: 185px 0 0 -530px;
        width: 170px;
        height: 40px;
        font-size: 17px;
    }
    .about {
        padding-top: 50px;
    }
    .benefit-image {
        width: 60px;
        height: 60px;
    }
    .benefit-tittle {
        font-size: 15px;
    }
    .benefit-text {
        font-size: 10px;
    }
    .benefit-wrapper {
        width: 770px;
    }
    .services {
        margin-top: -320px;
    }
    .big-photo {
        width: 320px;
    }
    .little-photo {
        width: 150px;
    }
    .portfolio-button {
        padding: 5px 20px;
        font-size: 15px;
    }
    .about-buton {
        margin-bottom: 50px;
    }
    .master {
        width: 135px;
    }
    .master-name {
        font-size: 12px;
        margin: 10px 0;
    }
    .master-info {
        font-size: 11px;
        line-height: 17px;
    }
    .master-image {
        width: 140px;
    }
    .read-all {
        margin-bottom: 50px;
        font-size: 12px;
    }
    .circle {
        margin-top: 60px;
        width: 20px;
        height: 20px;
        font-size: 15px;
    }
    .our-prices-tittle {
        font-size: 40px;
    }
    .pricing {
        padding-top: 50px;
        height: 730px;
    }
    .models {
        width: 150px;
        height: 150px;
    }
    .type-price-time {
        width: 150px;
    }
    .barber-services {
        font-size: 13px;
    }
    .name-hair {
        font-size: 9px;
    }
    .time-min {
        font-size: 4px;
    }
    .money-price {
        font-size: 9px;
    }
    .form-container {
        width: 570px;
        padding: 15px;
        margin-bottom: 100px;
        margin-top: -78px;
    }
    .feedback-tittle {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .checkbox-first {
        margin-top: 20px;
    }
    .checkbox-text {
        font-size: 10px;
    }
    .checkbox-first__label .checkbox {
        width: 10px;
        height: 10px;
        margin-top: 3px;
    }
    .checkbox-first__label .checkbox svg {
        top: -8px;
        left: -2px;
        width: 14px;
        height: 25px;
    }
    .input-text {
        width: 170px;
        height: 30px;
    }
    .request {
        font-size: 12px;
        padding: 0 5px;
        margin-right: 0;
    }
    .map-image {
        width: 150px;
        height: 100px;
    }
    .footer-contacts {
        margin-right: 30px;
    }
    .footer-contacts {
        margin-right: 30px;
    }
}