@media screen and (max-width:1300px) {
    .container {
    width: 95%;
    }
}
@media screen and (max-width:730px) {
    .header-flex2, .header-nav {
    display: none;
    }
}
@media screen and (max-width:600px) {
    .banner-info, .big-post {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    }
}
@media screen and (max-width:1300px) {
    .topic {
        width: 48%;
    }

    }
    
    @media screen and (max-width:1300px) {
        .topic-list {
            justify-content: space-between;
        }
    
        }
        @media screen and (max-width:526px) {
            .topic-list {
                justify-content: center;
            }
        
            }
    