@media screen and (max-width:1300px) {
section,
.kukushka,
footer
.footer-info kukushka {
    width: 95%;
} 
}
@media screen and (max-width: 730px) {
    .nav-bar {
      display: none;
    }
  }
@media screen and (max-width: 600px) {
    .wrapper {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 1300px) {
    .topics-info {
     width: 48%; 
    }
  }
  @media screen and (max-width: 1300px) {
    .topics {
justify-content: space-between;
    }
  }
  @media screen and (max-width: 526px) {
    .topics {
justify-content: center;
    }
  }
