@media screen and (max-width: 1300px) {
  .container {
    width: 97%;
  }
  .topic {
    width: 32%;
  }
  .topics-list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1030px) {
  .topic {
    width: 48%;
  }
  .post-list {
    overflow-x: auto;
  }
  .post {
    min-width: 420px;
  }
}
@media screen and (max-width: 730px) {
  .header-flex-2 {
    display: none;
  }
  .header-flex{
    padding: 0px 20px;
  }
  .mobile-nav{
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .banner-info,
  .big-post {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner-info {
    text-align: center;
  }
  .banner-info-flex {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 515px) {
  .topic {
    width: 100%;
  }
  .filter-list {
    display: none;
  }
  .mobile-filter {
    display: block;
    margin: 15px 0px;
  }
  .mobile-filter p {
    font-size: 18px;
    line-height: 25px;
    color: #495057;
  }
  .mobile-filter select {
    width: 100%;
    border: none;
    color: #495057;
    padding: 5px 7px;
    border-radius: 5px;
    margin-top: 5px;
  }
  .big-post-text {
    width: auto;
  }
  .footer-container {
    flex-wrap: wrap;
    gap: 30px 0px;
  }
  .footer-container div:nth-child(1){
    order: 4;
  }
}
