* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(270deg);
    }
}
.loader {
    position: relative;
    width: 40px;
    height: 40px;
    animation: loader 4s infinite;
}
.loader span {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border:  3px solid black;
    position: absolute;
}
@keyframes span1{
    0%{
        transform: translate(0px, 0px);
        border-color: black;
    }
    50%{
        transform: translate(40px, 0px);
        border-color: red;
    }
    100% {
        transform: translate(0px, 0px);
        border-color: black;
    }
}
@keyframes span2{
    0%{
        transform: translate(0px, 0px);
        border-color: black;
    }
    50%{
        transform: translate(-40px, 0px);
        border-color: orange;
    }
    100% {
        transform: translate(0px, 0px);
        border-color: black;
    }
}
@keyframes span3{
    0%{
        transform: translate(0px, 0px);
        border-color: black;
    }
    50%{
        transform: translate(0px, 40px);
        border-color: yellowgreen;
    }
    100% {
        transform: translate(0px, 0px);
        border-color: black;
    }
}
@keyframes span4{
    0%{
        transform: translate(0px, 0px);
        border-color: black;
    }
    50%{
        transform: translate(0px, -40px);
        border-color: violet;
    }
    100% {
        transform: translate(0px, 0px);
        border-color: black;
    }
}
.loader span:nth-child(1) {
animation: span1 2s infinite;
}
.loader span:nth-child(2) {
    transform: translate(-40px, 0px);
    border-color: orange;
    animation: span2 2s infinite;
}
.loader span:nth-child(3) {
    transform: translate(0px, 40px);
    border-color: yellowgreen;
    animation: span3 2s infinite;
}
.loader span:nth-child(4) {
    transform: translate(0px, -40px);
    border-color: violet;
    animation: span4 2s infinite;
}
.grid-container{
display: grid;
grid-template-columns: repeat(4, 200px);
grid-template-rows: repeat(2, 200px);
grid-gap: 10px 10px;

}
.block {
    background: black;
    height: 100%;
    width: 100%;
}
section {
    display: grid;
}
.grid-container .block:nth-child(1),
.grid-container .block:nth-child(6){
    grid-row-start: 1;
    grid-row-end: 3;
}